/*
 * @partial: _filter.scss
 */

// == Filter grids
.filter-row {
	margin-right: -5px;
	margin-left: -5px;
	@include media(">=sm") {
		margin-right: -10px;
		margin-left: -10px;
	}
}

.filter-row>.filter-col {
	padding-right: 5px;
	padding-left: 5px;
	@include media(">=ipad") {
		flex: 0 0 20%;
		max-width: 20%;
		padding-right: 10px;
		padding-left: 10px;
	}
}

// == Filter components style
.input-label-btn {
	position: relative;
	display: block;
	margin-bottom: 0;
	padding: 0.556rem 0.833rem;
	background-color: $brand-white;
	border-color: $brand-white;
	border-style: solid;
	color: $brand-primary;
	font-weight: 500;
	letter-spacing: 0.1rem;
	height: 3.571rem;
	text-transform: $uc;
	cursor: pointer;
	text-align: center;
	transition: all ceaser($easeInOutQuint) 0.35s;

	@include media(">=ipad") {
		height: 4.222rem;
	}

	&.text-inverse {
		color: $brand-dark;
	}

	.input-label-text {
		position: absolute;
		top: 50%;
		right: 1.55rem;
		left: 1.55rem;
		line-height: 1.2;
		transform: translateY(-50%);
	}
}

.input-label-btn:hover,
.filter-field:checked + label {
	background-color: transparent;
	border-color: $brand-white;
	color: $brand-white;
}