/*
** @Select2 full customizable module - reusable
*/

.select2-hidden-accessible {
	.notTouchDevice & {
		display: none !important;;
	}
}

// Select2 container
.select2-container {
	position: relative;
	z-index: 999;
    display: inline-block;
    margin: 0;    
    box-sizing: border-box;
    vertical-align: middle;

    .modal-open & {
    	z-index: 999;
    }

    .isTouchDevice & {
    	display: none !important;
    }
}

select + .select2-container {
	width: 100% !important;

	.modal-open & {
    	z-index: 0;
    }
}

select.req {
	color: $brand-secondary;
}

// Select2 placeholder field
.select2-selection__rendered {
	@extend .form-control !optional;
	text-align: left;
}

.select2-container--open {
	.select2-selection__rendered {
		border-bottom-color: transparent !important;
	}
}

select.left + .select2 {
	.select2-selection__rendered {
		// padding: 16px 47px 17px 15px;
		padding-left: 2.500rem;
	}
}

select.req + .select2 {
	.select2-selection__rendered {
		color: $brand-primary;
	}
}

select.custom-select--lg + .select2 {
	.select2-selection__rendered {
		padding: $input-padding-lg-y 1.666rem;
		background-color: transparent;
		border: 5px solid $brand-white !important;
		color: $brand-white;
		font-size: 1rem;
		font-style: italic;
	}

	.select2-selection__arrow {
		right: 1.95rem;
		border-color: $brand-white;
	}
}

.custom-select--lg {
	&.select2-dropdown {
		margin-top: 0;
		border: 0 !important;

		.select2-search--dropdown .select2-search__field {
			border: 3px solid $brand-primary;
		}
	}
}

select.custom-select--lg + .select2.select2-container--open {
	.select2-selection__rendered,
	.select2-selection__arrow {
		border-color: $brand-primary !important;
	}
}

// Select2 dropdown
.select2-dropdown {
	margin-top: -1px;
	padding: 0 0;
    border-radius: 0;
    border-top: 0;
    border-color: $brand-dark-gray;
    background-color: $brand-white;    
    transition: none;

    &:focus,
    &:active,
    &:active:focus {
    	box-shadow: none;
    }    
}

// Select2 dropdown arrow
.select2-selection__arrow {
	margin-top: -0.15rem;
	@extend .elem-abs, .chevron, .chevron--down !optional;
	top: 50%;
	right: 20px;
	left: auto;
	border-color: $brand-gray;
	transform: translateY(-50%) rotate(135deg);

	b {
		display: none !important;
	}
}

select.left + .select2 {
	.select2-selection__arrow {
		right: auto;
		left: 18px;
	}
}

.select2-container--open .select2-selection__arrow {
	@extend .chevron--up !optional;
	margin-top: 0.2rem;
	transform: translateY(-50%) rotate(-45deg);
}

// Select2 search field
.select2-dropdown {
	//display: none;

	&:not(.select2-search-enabled) .select2-search--dropdown {
		position: absolute;
		opacity: 0;
		z-index: -1;
		transform: scale(0);
	}

	.select2-search--dropdown {
		display: block;	
		padding: 10px 10px;
		width: 100%;		

		.select2-search__field {
		    padding: 10px 15px;
		    border: 1px solid $brand-gray;
		    box-sizing: border-box;
		    color: $brand-primary;
		    line-height: 1;
		    width: 100%;
		    transition: all ceaser($easeInOutQuad) 0.35s;
		}
	}
}

.select2-dropdown.select2-search-enabled {
	.select2-search {
		display: block;
	}
}

// Select2 list height
.select2-container {
	.select2-results {
		display: block;
	}

	.select2-results__options {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.select2-results__options:not(.select2-results__options--lg) {		
		// height: 130px;
	}

	.select2-results__options--lg {
		height: 200px;	
	}
}

// Select2 Options
.select2-results__option {
	padding: 10px 15px;
	// color: $brand-dark;
}

// Select2 highlighted stateds
.select2-results__option[aria-selected='true'] {
	background: $brand-primary;
	color: $brand-white;
}

.select2-results__option--highlighted[aria-selected='false'] {
	background: lighten($brand-primary, 5%);
	color: $brand-white;
}

// Nice scroll injected in select2
.nicescroll-rails {
	// border-radius: 5px;

	&-hr {
		display: none !important;
	}
}

.notTouchDevice .select2-container {
	//display: block !important;
}

.isTouchDevice .select2-hidden-accessible {
	//display: none !important;	
}