/*
** @partial: _promotion-card.scss
*/

// == Promotion block
#homePromotionBanner {
	min-height: inherit;
	@include media("<ipad", ">sm") {
		max-height: 30.5rem;
	}

	@include media(">=ipad") {
		max-height: 33.611rem;//~605px;
	}
}

#newsletterBlock {
	@include media(">sm") {
		padding-bottom: 11rem;
	}

	@include media(">=ipad") {
		padding-bottom: 15.566rem;
	}
}

// == Promotion card
.promo-card {
	position: relative;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);
}

// == Promotion card with text content
.promo-card--text {
	padding: 1.786rem 1.071rem;
	@include media(">=ipad") {
		padding: 1.389rem 1.667rem;
	}
}

// == Small text card
.promo-card--text-sm {
	.promo-card__c {
		// margin-right: auto;
		// margin-left: auto;
		// max-width: 270px;
	}
}

// == Large text card
.promo-card--text-lg{
	padding: 1.786rem 1.071rem 1.786rem;
	@include media(">=ipad") {
		padding: 3.889rem 3.889rem 1.389rem;
	}
	// == large promo header
	.promo-card__h {
		margin-bottom: 3.571rem;
		@include media(">sm") {
			margin-bottom: 5.75rem;
		}
	}
}

.promo-card--lg {
	padding: 1.786rem 1.071rem;
	@include media(">=ipad") {
		padding: 4.5rem 3.889rem;
	}
}

// == Promotion contens
// == Promotion brand(logo)
.promo-brand {
	margin-bottom: 0.88rem;
}

// == category
.promo-cat {
	margin-bottom: 1.889rem;
	letter-spacing: 0.15rem;
	text-transform: $uc;
}

// == title
.promo-title {
	// margin-bottom: 1.05rem;
}

// == font weight
.promo-cat,
.promo-title,
.promo-price {
	font-weight: 500;
}

// == promotion picto
.promo-picto {
	position: relative;
	margin-right: -1.071rem;
	margin-bottom: -1.75rem;
	vertical-align: top;
	@include media(">=ipad") {
		margin-right: -1.667rem;
		margin-bottom: -1.389rem;
	}
}

// == card icon
.icon.card-icon {
	font-size: 1.4rem;
}

// == large promotion card
.promo-card--text-lg {
	.promo-picto {
		margin-right: -1.071rem;
		@include media(">=ipad") {
			margin-right: -3.889rem;
			margin-bottom: -1.389rem;
		}
	}
}

// == promotion date
.promo-date {
	font-size: 3.889rem;
	text-transform: $uc;
	>span {
		display: block;
		font-weight: bold;
		line-height: 0.86;
	}
}

// == promotion card body
.promo-card__c.is-floated {
	padding: 15px 15px;
}

// == promo-action-list
.promo-action-list {
	position: relative;
	z-index: $zindex-normal + 1;

	> li > a > .icon {
		transition: all ceaser($easeInOutQuint) 0.35s;
	}

	> li > a:hover >.icon {
		color: $brand-primary;
	}
}