/*
** @partial: _text-card.scss
*/

// == Text card
.text-card {
	padding: 2.5rem 1.071rem;
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);

	@include media(">=ipad") {
		padding: 3.500rem 2.222rem;
	}

	// == large text card
	&--lg {
		@include media(">=ipad") {
			padding: 3.500rem 4.444rem;
		}
	}

	// == extra large text card
	&--xl {
		@include media(">=ipad") {
			padding: 6.389rem 6.389rem;
		}
	}
}

// == Arrows
.has-arrow {
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: "";
		width: 0; 
		height: 0;
	}

	&.down {
		&::before {
			top: auto;
			bottom: 0;
			border-left: 1.280rem solid transparent;
			border-right: 1.28rem solid transparent;
			border-top: 1.55rem solid $brand-white;
		}
	}

	&.bottom {
		&::before {
			bottom: -1.366rem;
		}
	}

	&.left-bottom {
		&::before {
			bottom: -1.366rem;
			left: 6.222rem;
		}
	}
}