/*
** @Bootstrap form module overwrite
*/

/* Fix chrome's autofill input filed issue */
input:-webkit-autofill {
	-webkit-text-fill-color: $brand-black !important;
    -webkit-box-shadow: 0 0 0 1000px $brand-white inset !important;
}

button {
	background-color: transparent;
	border: 0;
}

/* Include placeholder mixin */
@include placeholder('.form-control', $brand-dark, '', $font-wr, 'initial');
@include placeholder('.form-control.req', $brand-primary, '', $font-wr, 'initial');
@include placeholder('.newsletter-form__control', $brand-white, '', $font-wt, 'initial');
@include placeholder('.search-form__control', $brand-white, '', $font-wt, 'initial');
@include placeholder('.form-control--lg', $brand-white, '', $font-wt, 'initial');

// Hide custom checkboxes, radio boxex, select
input[type="checkbox"],
input[type="radio"] {
	display: none !important;
}

// == Form group
.form-group--lg {
	margin-bottom: 1rem;
}

// == Form controls and buttons
.form-control {
	line-height: normal;
	@include media(">=ls") {
		font-size: 0.889rem;
	}
}

select {
	.notTouchDevice & {
		display: none !important;
	}

	.isTouchDevice & {
		background-color: $brand-white !important;
		color: $brand-black !important;

		-webkit-appearance: none;
		appearance: none;
		background-image: url(#{$img_path}down-chev.svg);
		background-position: calc(100% - 15px) center;
		background-repeat: no-repeat;
		background-size: 13px;
	}

	&.custom-select--lg {
		.isTouchDevice & {
			border: 0;			
			font-weight: 500;
			text-transform: $uc;
		}
	}
}

// == Popup newsletter form
.subscribe-form__control,
.form-control--lg {
	padding: $input-padding-lg-y 2rem $input-padding-lg-y 1.389rem;
	background: transparent;
	color: $brand-white;
	font-size: 1rem;
	font-style: italic;

	&:focus {
		color: $brand-white;
	}
}

.form__btn.is-floated {
	top: 50%;
	right: 1.667rem;
	left: auto;
	margin-top: -0.085rem;
	transform: translateY(-50%);
}