/**
 * @partial: _pagination.scss
 */

// == Pagination
.pagination {
	display: flex;
	align-items: center;
	margin-right: -0.714rem;
	margin-left: -0.714rem;

	@include media(">=ls") {
	 	margin-right: -0.566rem;
	 	margin-left: -0.566rem;
	}
}

// == Pagination items
.pagination .page-item {
	padding-right: 0.714rem;
	padding-left: 0.714rem;

	@include media(">=ls") {
	 	padding-right: 0.566rem;
	 	padding-left: 0.566rem;
	}

	// == First and last child
	&:first-child,
	&:last-child {
		.page-link {
			color: $brand-gray;
			@include media('>=ls') {
				line-height: 1.778rem;
			}

			&:hover {
				color: $brand-dark;
			}
		}
	}
}

// == Pagination items link
.pagination .page-link {
	position: relative;
	display: block;
	color: $brand-dark;
	font-size: 0.778rem;
	font-weight: bold;
	height: 1.778rem;
	width: 1.778rem;
	line-height: 1.9rem;
	text-align: center;

	@include media('>=ls') {
		line-height: 1.85rem;
	}

	&::before {
		@include make-full-position(absolute);
		content: "";
		border-color: $brand-gray;
		border-radius: 50%;
		border-style: solid;
		border-width: 1px;
		transition: all ceaser($easeInOutQuint) 0.35s;
	}

	&.active,
	&:hover {
		&::before {
			border-color: $brand-dark;
			border-width: 3px;
		}
	}
}

// Light pagination
.pagination.pagination--white {
	.page-link {
		color: $brand-white;
	}

	.page-link.active,
	.page-link:hover {
		&::before {
			border-color: $brand-white;
		}
	}
}