/**
* @partial: _tab.scss
*/

// TAB list style
.tab {
	&-list {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $brand-gray;

		// TAB list item style
		li, .tab-list__i {
			margin-bottom: -1px;

			a, .tab-list__l {
				display: block;
				padding: 1rem 1.389rem;
				background: $tab-link-bg-color;
				border: 1px solid transparent;
				border-bottom: 1px solid $brand-gray;
				color: $brand-black;
				font-weight: 500;
				line-height: 1;
				text-align: center;
				cursor: pointer;

				&:hover {
					color: $brand-gray
				}
			}

			&:not(:last-of-type) {
				a {
					border-right: 1px solid $brand-gray;
				}
			}

			&:first-of-type {
				&.active {
					a {
						border-left: 1px solid transparent;
					}
				}
			}

			&.active {
				a {
					border: 1px solid $brand-gray;
					border-bottom-color: transparent;
					border-left-color: transparent;
					background: $brand-white;
					color: $brand-gray
				}
			}
		}
	}
}

// TAB content style
.tab__pane {
	// Tab panel
	@include media("<=sm") {
		&:not(:last-of-type) {
			margin-bottom: 0.778rem;
		}
	}

	@include media(">sm") {
		display: none;

		// Panel inner
		.accordion-panel {
			//@include make-default-position(absolute);
			opacity: 0;
			pointer-events: none;
			transform: translateY(-10px);
			transition: all ceaser($easeInOutQuad) 0.35s;
		}

		// Active panel
		&.active-pane {
			display: block;			
		}

		// Animated panel
		&.animate {
			// Panel inner
			.accordion-panel {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			}
		}			
	}

	.active {
		.accordion-panel__collapse {
			display: block;
		}
	}

	// Accordion inside tab
	.accordion-panel__collapse {
		display: none;
		@include media(">sm") {
			display: block !important;
		}		
	}

	// Accordion panel body
	.accordion-panel__b {
		padding: 1.389rem 1.071rem 0;

		@include media(">=ipad") {
			padding: 2.778rem 1.944rem 0;
		}
	}
}