/**
* @partial: _accordion.scss
*/

// == accordion title link
.accordion-panel__l {
	position: relative;
	display: block;
	padding: 1.071rem 2.5rem 1.071rem 1.071rem;
	background-color: darken($tab-link-bg-color, 5%);
	color: $brand-dark;
	line-height: 1;

	&:focus,
	&:hover {
		color: $brand-dark !important;
	}

	// == Icons
	&::before,
	&::after {
	    position: absolute;
	    top: 50%;
	    right: 1.071rem;
	    content: "";
	    background: $brand-dark;
	    width: 14px;
	    height: 3px;
	    transform: translateY(-50%);
	    transition: all ceaser($easeInOutQuint) 0.35s;
	}

	&:not(.expanded)::after {
		transform: translateY(-50%) rotate(-90deg);
	}
}