/**
* @partial: _buttons.scss
*/



// == Button overrides
.btn {
	border-width: 2px;
	letter-spacing: 0.04rem;
	text-transform: $uc;
	cursor: pointer;
	box-shadow: none !important;
	border-radius:25px;
	font-family:$font-family--open-sans-semibold;

	@include media(">sm") {
		min-width: 200px;
	}

	@include media(">=ls") {
		font-size: 0.889rem;
	}
}

.btn-mw {
	padding: 1.223rem 1rem;
	// border: 5px solid;
	font-size: inherit;
	max-width: 325px;
	min-width: inherit;
	width: 100%;
	line-height: 1.25;
}

//
// Alternate buttons
//

.btn-dark {
  @include button-variant($brand-white, $brand-dark, $brand-dark);
}

.btn-white {
  @include button-variant($brand-primary, $brand-white, $brand-white);
}

// == button variants
.btn-outline-dark {
	@include button-outline-variant($brand-dark);
}

.btn-outline-faded {
  @include button-outline-variant($brand-gray-light);
  &:hover {
  	color: $brand-dark;
  }
}

// == button group
.btn-group {
	position: relative;
	display: inline-flex;	
	vertical-align: middle;

	>.btn {
		margin-right: 1.389rem;
		&:last-child {
			margin-right: 0;
		}

		&.btn-white{
			&:hover,&:focus,&:active{
				background:none;
			}
		}
	}
}