/**
* @partial: _icons.scss
*/

.icon {
	font-size: 0.778rem;
	margin-right: 0.625rem;

	// is last child
	&-is-right {
		margin-right: 0 !important;
		margin-left: 0.625rem;
	}
}

// == Icons color variants
@for $i from 1 through length($brand_class_list) {
	.icon-#{nth($brand_class_list, $i)} {
		color: nth($brand_color_list, $i);
	}
}

// == Icons size variants
@for $i from 1 through length($brand_size_class_list) {
	.icon-#{nth($brand_size_class_list, $i)} {		
		@if nth($brand_size_class_list, $i) == 'lg' {
			font-size: nth($brand_size_val_list, $i) - 1 + rem;
			@include media(">sm") {
				font-size: nth($brand_size_val_list, $i) + rem;
			}
		}@elseif nth($brand_size_class_list, $i) == 'xl' {
			font-size: nth($brand_size_val_list, $i) - 1 + rem;
			@include media(">=ipad") {
				font-size: nth($brand_size_val_list, $i) + rem;
			}
		}@else {
			font-size: nth($brand_size_val_list, $i) + rem;
		}
	}
}

.icon-xxl {
	font-size: 5rem;
}

// == Icon group
.picto-group {
	display: flex;
	align-items: center;

	.picto-label {
		@include media(">sm") {
			padding-left: 0.65rem;
		}
	}
}


//.icon-dark {
//	&:before, &:after {
//		background-color: $brand-dark !important;
//	}
//}