/*
** @js-accordion module - reusable
*/
 
$js_acc: 'js-accordion'; // Namesacpe for accordion
$js_acc_lg: 'js-accordion--lg'; // Namesacpe for large accordion
$js_acc_sm: 'js-accordion--sm'; // Namesacpe for small accordion

@import "js-accordion-lg";
@import "js-accordion-sm";

.#{$js_acc} {
	// Js accordion styles
	color: $brand-black; 

	// Js accordion title
	&__title {
		position: relative;
		margin-bottom: 0;

		> .#{$js_acc}__toggler {
			position: relative;
			display: block;			
			color: $brand-black;

			&:hover {
				color: $brand-black;
			}

			// Pseudo elements to create "+"/"-" symbol
			&::before,
			&::after {
				position: absolute;
			    top: 50%;
			    // right: 25px;
			    content: "";
			    display: block;			    
			    background: $brand-black;
			    transform: translateY(-50%);
			    transition: all ceaser($easeInOutQuad) 0.35s;

			    @include media("<=sm") {
			    	right: 0px;
			    	// width: 0.9rem;
			    	// height: 0.2rem;
			    	width: 15px;
			    	height: 3px;
			    }
			}

			&:not(.expanded)::after {				
			    transform: translateY(-50%) rotate(-90deg);

			    @include media("<=sm") {
			    	right: 0px;
			    	// width: 0.9rem;
			    	// height: 0.2rem;
			    	width: 15px;
			    	height: 3px;
			    }
			}
		}
	}

	// Panel body
	&__panel-collapse {
		overflow: hidden;

		table th,
		table, td {
			text-align: left;
		}
	}
}

// 2 cols layout inside accordion
// .#{$js_acc} {
// 	.#{$block}-col-inner {
// 		@include media(">sm") {
// 			padding: 0.5rem 1rem 0.5rem 1.677rem;
// 		}		
// 	}
// }