.#{$js_acc_sm} .#{$js_acc} {
	// Js small accordion title

	&__title {	
		> .#{$js_acc}__toggler {
			background-color: $tab-link-bg-color;
			letter-spacing: 0.04rem;
			//text-transform: $uc;
			font-family:$font-family--open-sans-semibold;

			@include media("<=sm") {
				padding: 1.15rem 15px;
			}

			@include media(">sm") {
				padding: 1.2rem 1.44rem;
			}

			// Pseudo elements to create "+"/"-" symbol
			&::before,
			&::after,
			&:not(.expanded)::after {
				@include media("<=sm") {
					right: 15px;
				}

			    @include media(">sm") {
			    	//right: 2.667rem;
			    	right: 1.667rem;
			    	width: 14px;
			    	height: 2px;
			    }
			}

			
		}		
	}

	// Panel when it is active
	&__panel {

		// Title expanded
		&.active{
			h4{
				a:after {
				 	transform: translateY(-50%);
				 }

			}
		}

		.row{
			margin-bottom:2rem;

			&:last-child{
				margin-bottom:0;
			}
		}

		&:nth-child(even){
			background-color: $brand-gray-light;
			position:relative;

			@include media(">ds") {

				&:before,&:after{
					position: absolute;
				    content: "";
				    top: 0;
				    bottom: 0;
				    height: 100%;
				    background: $brand-gray-light;
				}

				&:before{
					left: -24.834rem;
		    		width: 24.834rem;
				}

				&:after{
					right: -24.834rem;
		    		width: 24.834rem;
				}
			}

			.js-accordion__title a,.js-accordion__panel-collapse{
				background-color: $brand-gray-light;
			}
			
		}


		// &:not(:last-of-type) {
		// 	margin-bottom: 0.778rem;
		// }
	}

	// Panel body
	&__panel-collapse {	
		background-color: $brand-white;

		@include media("<=sm") {
			padding: 1rem 1rem 2rem;
		}

		@include media(">sm") {
			padding: 2rem 1.44rem 2.444rem;
		}
	}
}

// .secondary-accordion{
// 	.js-accordion--sm .js-accordion__title>.js-accordion__toggler{
// 		background:$table-head !important;
// 		color:$brand-white !important;
// 		font-size:16px;
// 		text-transform:$uc;
// 		padding:.9rem 1.44rem;

// 		&::before,&::after{
// 			background:$brand-white;
// 		}

// 		&::before,
// 			&::after,
// 			&:not(.expanded)::after {
// 				width: 14px;
// 				height:2px;
// 		}		

// 	}
// 	h4{
// 		text-transform:$uc;
// 	}

// 	.js-accordion--sm .js-accordion__panel-collapse{
// 		background:none !important;
// 		padding:1.5rem 1.44rem;
// 	}  

// 	.js-accordion__title{
// 		margin-bottom:.5rem;
// 	} 	
// }