/*
** @partial: _lists.scss
*/

.lists {
	>li {
		margin-bottom: 0.35rem;
	}

	// == Inline list
	&--inline {
		display: flex;
		flex-wrap: wrap;
		margin-right: -7px;
		margin-left: -7px;

		>li {
			padding-right: 7px;
			padding-left: 7px;			
		}
	}

	// == Inline columns per row
	&--2 {
		>li {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}