// == Sticky top navbar(header)
.topnavbar--is-sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: $zindex-super;
	background-color: $brand-white;
	max-width: 1920px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 2px 22px 3px rgba(0,0,0,0.05);
}

// == Top navbar content
.topnavbar__c {
	@include media(">=ipad") {
		max-height: 102px;
		height: 102px;

		// Fix flickering issue when modal opens
		.notTouchDevice .modal-open & {
			padding-right: 17px;
		}
	}

	// == container
	.container {
		//width: 1285px; removed because of not aligned http://prntscr.com/jc95iv

		@include media("<ipad") {
			height:80px;
		}
	}

	.container,.topnavbar-row__i{

		@include media(">=ipad") {
			position:static;
		}
	}
}

.js-collapse .bg-primary{
	padding:20px 0;
}

// .topnavbar-row{
// 	@include media("<ipad") {
// 		height:150px;
// 	}
// }
// == Top navbar columns
.topnavbar-row__i {
	@include media(">=ipad") {
		position: relative;
	}

	

	// == left column
	&--l {
		position: relative;
		width: 110px;
		padding-right: 13px;
		padding-left: 13px;


		@include media("<ipad") {
			width: 200px;
			padding-top:20px;
		}
	}

	// == right column
	&--r {
		@include media("<ipad") {
			flex: 0 0 calc(100% - 200px);
			max-width: calc(100% - 200px);
		}
	}

	// == left column
	@include media(">=ipad") {
		padding-right: 0px;
		padding-left: 0px;
		// min-height: 1px;
		&--l {
			flex: 0 0 24.74222%; //~19.2311111
			max-width: 24.74222%;
		}

		// == right column
		&--r {
			flex: 0 0 (100% - 24.74222%);
			max-width: (100% - 24.74222%);
		}
	}
}

.actions {
	// display:table;
	li{
		background-color:$brand-primary;
		border-radius:50%;
		width:40px;
		height:40px;
		text-align:center;
		padding-top:2px;		
		// display: table-cell;
		// vertical-align:middle;

		i{
			color:$brand-white;
			font-size:.75rem;
		}
	}
}

.upper-header{
	.dropdown-toggle::after {
		display: none;
	}
	ul li{
		list-style:none;
		padding-left: 30px;
		font-size: 0.65rem;
		padding-right: 10px;
		position:relative;

		.select2-selection__arrow{
			right:0;
			width:6px;
			height:6px;
			top:55%;
			border-color:$brand-white;
		}

		&:before{
			display:none;
		}

		a{
			color:#fff;
	        padding:10px 0;
	        display:block;

		}

		&:last-child{
			padding-right:0;

			i{
				background:url(../images/padlock.svg) 0 0 no-repeat;
				content:'';
				display:inline-block;
				width:12px;
				height:14px;
			}
		}
	}

	.container {
		width: 1285px;

		.dropdown .dropdown-menu{
			padding:10px;
			background-color:$brand-primary;

			a{
				padding:5px 10px;
				
				&:hover{
					background-color:$brand-white;
					color:$brand-primary;
				}
			}
		}
	}
}