/*
** @partial: _general.scss
*/

html {
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.025rem;

	@include media(">=ls") {
		font-size: 20px;
	}
}

* {
	margin: 0 0;
	padding: 0 0;
	
	&:focus {
		outline: 0;
	}
}

button, input, textarea {
	font-family: $font-family-base;
}

ul, ol {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a,
button,
input {
	outline: none;
	text-decoration: none;
	box-shadow: none;
	transition: all ceaser($easeInOutQuad) 0.35s;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		box-shadow: none;
		outline: none;
		text-decoration: none;
	}
}

a {
	&:hover {
		color: $link-hover-color;
	}
}

.isTouchDevice a[class*="btn"] {
	&:hover {
		color: $brand-white;
	}
}

// == HIDE SMOOTHSCROLL'S STRUCTURE TO AVOID WHITESPACE
div[style*="position: absolute; z-index: -10000;"] {
	display: none !important;
}


.btn-group{
	@include media("<xmd") {
		//width: 100% !important;
		display: block !important;
		margin-left: 15px;
		margin-right: 15px;
	}
	&>.btn {
		@include media("<xmd"){
			margin-top: 1rem;
			width: 100% !important;
			display: block !important;
		}
	}
}


//@media only screen
//and (device-width: 375px)
//and (device-height: 812px)
//and (-webkit-device-pixel-ratio: 3) {
//	.wow {
//		visibility: visible !important;
//	}
//}