/*
** @partial: _jumbotron.scss
*/

// == Homepage Hero slider content
.hero-overlay-content {
	@include media("<=sm") {
		padding: 1.786rem 1.071rem;
		background-color: $brand-primary;
	}

	@include media(">sm") {
		position: absolute;
		top: 10%;
		right: 0;
		left: 0%;
		z-index: $zindex-normal;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		max-width: 1285px;
		width: 100%;
	}

	@include media("<=ipad", ">sm") {
		right: -150px;
		width: calc(100% - 150px);
	}

	@include media(">ipad") {
		top: 14%;
	}

	// == map card
	.shape {
		overflow: hidden;
		position: relative;
		margin-left: auto;
		width: 5.55666rem;
		box-sizing: border-box;
		text-align: center;

		@include media("<=sm") {
			width: 80px;
		}

		// @include media(">=ipad") {
		// 	width: 7.968888%;
		// }

		&::before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		&__c {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			transform: translateY(-50%);
		}
	}

	// == Opening hours card
	.opening-hours-card {
		margin-right: 5.55rem;//~5.667rem;	
		border: 0.566rem solid $brand-primary;
		box-sizing: border-box;
		cursor: pointer;
		// width: 20%;
		width: 10.5rem;//~15.936666%;
		text-align: left;
		transition: all ceaser($easeInOutQuint) 0.35s;

		@include media("<=sm") {
			width: 135px;
			border: 5px solid $brand-white;
		}

		@include media(">=ipad") {
			width: 11.936666rem;//~15.936666%;
		}

		.notTouchDevice & {
			&:hover {
				border-color: darken($brand-primary, 5%);
			}
		}

		.shape__c {
			padding: 10px 10px;
			@include media(">=ipad") {
				padding: 0.925rem 1.222rem 0.833rem;
			}
		}
	}

	// == Map card
	.marker-holder {
		border: 3px solid $brand-white;
		.icon {
			font-size: 2.25rem;
		}

		&:hover {
			border-color: darken($brand-white, 5%);
		}
	}
}

// == Reusable banner module style
.promo {
	position: relative;
	&.has-cover {

		@include media("<=sm") {
			.promo__c{
				position: absolute !important;
			    transform: none !important;
			    left: 0;
			    right: 0;
			    text-align: center;
			    bottom: 0px;
			    top: auto;
			    padding: 10px;
			    transform: none !important;
			}	
		}
	}
}

// == Promo content
.promo__c {
	// == is floated	
	&.is-floated {
		width: 100%;
		@include media(">sm") {
			padding-right: 15px;
			padding-left: 15px;
			max-width: 1200px;//~1200px;
		}

		@include media(">ds") {
			padding-right: 7rem;
			padding-left: 7rem;
		}
	}

	&--lg {
		padding-right: 15px;
		padding-left: 15px;
		max-width: 1285px;//~1200px;
	}
}


// == Promo bkg
.promo--bkg-sm {
	min-height: 15rem;
	background-color:$brand-white;
	background-position:center top;
	background-repeat: no-repeat;

	@include media(">=ipad") {
		min-height: 16rem;
		background-color:$brand-primary;
	}

	@include media(">=ls") {
		min-height: 14.2rem;
	}
}


// == Promo bkg
.promo--bkg {
	min-height: 20rem;
	@include media(">sm") {
		min-height: 30rem;
	}
	
	@include media(">=ds") {
		min-height: 34.44445rem;
	}

	&.small-banner-height{
		min-height: 18rem;
		background-color:$brand-primary;
		background-size:cover;

		@include media(">sm") {
			min-height: 20rem;
		}
		
		@include media(">=ds") {
			min-height: 22.44445rem;
		}

		h2{
			
		}
	}
}

// == Promo bkg large
.promo--bkg-lg {
	@include media(">sm") {
		min-height: 30rem;
	}
	
	@include media(">=ipad") {
		min-height: 43.056rem;
	}
}
