.l-breadcrumb {
  font-size: 12px;
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 1.4rem 1rem;

    &-item {
      a {
        color: $brand-black;
      }
      color: $brand-primary;
    }
  }
}




