/*
** Import font family partials
*/
@import "fonts.scss";

/* Typo related stuffs */

// == Para tag
p,
.para {
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

em, .em {
	font-style: italic;
}

.text-small {
	@include media(">=ls") {
		font-size: 0.889rem;
	}
}

.ls-1 {
	letter-spacing: 0.15rem;
}

// == Custom font size
.fs-45 {
	margin-bottom: 1.667rem;
	font-size: 2.500rem;
	line-height: 1;

	@include media("<ipad") {
		font-size: 1.571rem;
	}
}

.fs-50 {
	margin-bottom: 1rem;
	font-family: $font-family--open-sans-semibold;
	font-size: $font-size-50;
	line-height: 1;

	@include media("<ipad") {
		font-size: 1.714rem;
	}
}

.fs-60 {
	margin-bottom: 1rem;
	font-family: $font-family--open-sans-semibold;
	font-size: $font-size-60;
	line-height: 1;
	text-transform: $uc;

	@include media("<ipad") {
		font-size: 1.857rem;
	}
}

.fs-70 {
	font-family: $font-family--open-sans-semibold;
	font-size: 3.889rem;
	line-height: 1;
	text-transform: $uc;
}

.text-sm-small {
	@include media("<=ipad") {
		font-size: 0.875rem;
	}
}

blockquote, .blockquote {
	font-family: $font-family--open-sans-bold;
	font-size: 1.667rem;
	line-height: 1.05;
}

// == heading tags
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0;
	font-family: $font-family-open-sans;
}

h1, .h1 {
	margin-bottom: 2.111rem;
	font-size:3.33em;


	@include media("<ipad") {
		font-size: 1.714rem;
		margin-bottom: 0;
	}
}

.page-template-template-home .small-banner-height h2, .page-template-template-home .block--quote h2{
	font-size:3.33em; 

	@include media("<ipad") {
		font-size: 1.714rem;
	}
	//border:5px solid red;
}

h2, .h2 {
	margin-bottom: 1.05rem;//~1.667rem;
	font-size:3rem;
	font-size:2.22rem;
	color:$brand-title;
	//font-size:40px;
	@include media("<ipad") {
		font-size: 1.571rem;
	}
	
}

h3, .h3 {
	margin-bottom: 0.5rem;
	font-weight: normal;
	font-size: 1.388888888888889rem;
	@include media("<ipad") {
		font-size: 1.286rem;
	}
}

h4, .h4 {
	margin-bottom: 1rem;
	font-family: $font-family-open-sans;
	// border:5px solid red;
}

h5, .h5 {
	margin-bottom: 0.70rem;	
	font-family: $font-family-open-sans;
}

// == Importing typo related @mixin from mixin folder
@import '../mixins/type';

// == Executing different typo related @mixins


// == Typo cases mixins
// $t_c_list: ucase, lcase, caps;
// $t_c_val: $uc, $lc, $caps;

// @include make_type_cases($t_c_list, $t_c_val);

// == Typo weights mixins
$fw_list: l, r, m, sb, b;
$fw_val: 300, 400, 500, 600, bold;

@include make_font_weights($fw_list, $fw_val);

// == Typo families mixins
$ff_list: pp, os, rb, knev;
$ff_val: $font-family-open-sans, $font-family--open-sans-bold, $font-family--open-sans-semibold, $font-family-base;

@include make_font_families($ff_list, $ff_val);







