/*
Theme Name:  TRB Theme
Theme URI: 
Author: the Procab team
Author URI: https://procab-studio.ch
Description: Our TRB Theme is clean, WooCommerce, and designed for clarity. M3 is  simple, straightforward typography is readable on a wide variety of screen sizes. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, white, , dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready.
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
	.wow {
		visibility: visible !important;
	}
}