/* Make grid gutter mixin */
@mixin make-grid-gutter($list) {
	%clear_fixer {
		&::before,
		&::after {
			display: table;
			content: "";
		}

		&::after {
			clear: both;
		}
		@content;
	}

	[class*="gutter"] {
		@extend %clear_fixer;
	}

	@each $gap in $list {
		$g-type: nth($gap, 1);
		$g-val: nth($gap, 2);		

		.gutter-#{$g-type} {			
			@each $val in $g-val {
				//@extend %clearfix;

				margin-right: -($val) + px;
				margin-left: -($val) + px;

				> [class*="col-"] {
					padding-right: ($val) + px;
					padding-left: ($val) + px;
				}				
			}		
		}
	}
}