/*
** @partial: _submenu.scss
*/

.site-outer.mobile-menu-shown{
	position:relative;

	&:before{
		background:$brand-primary;
		z-index:999;
		content:'';
		left:0;
		top:0;
		right:0;
		bottom:0;
		position:absolute;
	}
}
// == Submenus
.submenu-holder {
	@include media('<ipad') {
		position: fixed;
		//top:0;
		top: 80px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		z-index:1;
		padding: 1.875rem 15px;
		background-color: $brand-primary;
		transform: translateX(100%);
		transition: all ceaser($easeInOutQuint) 0.35s;

		// position:absolute;
		// width:100%;
		

		.is-shown & {
			transform: translateX(0%);
		}

		a {
			color: $brand-white;
		}

		.bg-white a,.bg-white h3 {
			color: $brand-primary !important;
			display:block;
			text-align:center;
		}
	}

	@include media('>=ipad') {
		position: absolute;
		top: 99.5%;
		// right: -50rem;
		// left: -55rem;
		left:0;
		right:0;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		padding:1.5rem 1.563rem 0rem;
		//padding: 6.125rem 1.563rem 1.625rem;
		// transform: translateY(30px);
		transition: all linear 0.25s;
		background-color:$brand-white;
		//background-color:red;
		text-align:center;

		.is-shown & {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
			// transform: translateY(0px);

			>.row {
				opacity: 1;
				transform: translateY(0px);
			}

			h3{
				text-align:center;			}
		}

		.has-shown-child & {
			transition: none !important
		}

		>.row {
			opacity: 0;
			transform: translateY(-5px);
			transition: all linear 0.35s
		}

		.row>[class*="col-"] {
			padding-bottom: 1.5rem;
		}


		.card__b {
		    padding: 2% 6.14233%;
		}
		
	}

	.container {
		@include media(">=ipad", "<=ds"){
			width: 890px;
		}
		@include media(">ds"){
			width: 1200px;
			//max-width: 1200px;
			//margin: 0 auto;
			//width: inherit;
		}
	}
}

.submenu-level1 {
	
	>.submenu__i {
		>a {
			display: block;
			margin: 0 -15px;
			padding: 20px 15px;
			border-bottom: 1px solid lighten($brand-primary, 8%);
			color:$brand-white;
			position:relative;

			@include media("<ipad", ">sm") {
				margin: 0 0;
				padding: 0.857rem 0;
			}

			@include media(">=ipad") {
				margin: 0 0;
				padding: 0.625rem 0;
				border-bottom-color: $brand-gray;
			}
		}

		&:first-of-type {
			>a {
				@include media("<ipad", ">sm") {
					border-top: 1px solid lighten($brand-primary, 8%);
				}

				@include media(">=ipad") {
					border-top: 1px solid $brand-gray;
				}
			}			
		}
	}


}


.bg-white{
	.submenu-level1 {
		.submenu__i {
			>a {
				color: $brand-primary;
			}
		}
	}
}

.submenu__i.current-menu-item>a {
	color: $brand-primary;
}

.submenu.submenu-level2 {
	font-size: 12px;

	@include media(">sm") {
		padding: 1rem 0 0;
	}

	>li:not(:last-of-type) {
		@include media(">sm") {
			margin-bottom: 0.875rem;
		}
	}

	>li>a {
		display: block;
		margin: 0 -15px;
		padding: 20px 15px 20px 30px;
		border-bottom: 1px solid lighten($brand-primary, 8%);

		.notTouchDevice & {
			&:hover {
				color: $brand-secondary;
			}
		}

		@include media(">sm") {
			display: inline-block;
			margin: 0 0;
			padding: 0 0;
			border-bottom: 0
		}
	}
	
}

.menu__i-xs--current {
	display: flex;
	align-items: center;
	margin: -1.875rem -15px 0;
	padding: 20px 15px;
	cursor: pointer;

	@include media("<=sm") {
		border-bottom: 1px solid lighten($brand-primary, 8%);
		margin-bottom:1rem;

	}
}

.menu__col::after {
	border-color: lighten($brand-primary, 8%) !important
}

.menu__i.has-submenu{
	position:static;
	@include media("<ipad") {
		position:relative;
		a{
			&::before,
			&::after {
				position: absolute;
			    top: 25px;
			    right: 25px;
			    content: "";
			    display: block;			    
			    background: $brand-white;
			    transition: all ceaser($easeInOutQuad) 0.35s;
			    transform: rotate(45deg);
			    width: 8px;
			    height: 2px;		    	
			}

			&::after{
				transform: rotate(-235deg);
				right:25px;
				top: 30px;
			}

		}

		&.is-shown{

			a{
				&::before,
				&::after {
					display:none;
				}
			}
		
		}
	}	
}

.submenu-holder .icon-left-chev{
	position:relative;
	margin-right:20px;

	&::before,
	&::after {
		position: absolute;
	    top: 2px;
	    right: 25px;
	    content: "";
	    left:0;
	    display: block;			    
	    background: $brand-white;
	    transition: all ceaser($easeInOutQuad) 0.35s;
	    transform: rotate(45deg);
	    width: 8px;
	    height: 2px;
	    //border:5px solid red;		    	
	}

	&::after{
		transform: rotate(-235deg);
		right:25px;
		top: -3px;  
	}

}


// .has-submenu{

// 	@include media(">=ipad") {

// 		.submenu-holder{
// 			display:none;
// 		}

// 		&.is-shown{
// 			.submenu-holder{
// 				display:block !important; 
// 			}
// 		}
// 	}

// }  
