footer{
	background:$brand-dark;
	color:$brand-white;
	font-size:14px;
    padding-bottom: 0 !important;

    @include media("<sm") {
    	text-align:center;
    }

	h4{
		color:$footer-title;
		//text-transform:uppercase;
		font-size:14px;
		font-family:$font-family-base;
	}

	ul{
		margin-bottom:20px;
		@include media(">sm") {
			margin-bottom:60px;
		}

		&:last-child{
			margin-bottom:0
		}
	}

	a{
		color:$brand-white;

		&:hover{
			color:$brand-white;
		}
	}

	.newsletter-form input{
		border:none;
		background:#666666;
		border:solid 1px #666666;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		padding-top: 7px;
		padding-bottom: 7px;
		color: $brand-white;
		font-size: 13px;
	}

	.newsletter-form .newsletter-form__btn {
	    position: absolute;
	    top: 50%;
	    right: 0;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
		width: 32px;
		height: 32px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		background-color: $brand-primary;

		&:hover {
			background-color: $brand-grey;
		}
		.icon {
			margin-right: 0;
		}
	}

	.below-footer{
		border-top:1px solid $footer-title;
        padding-top: 20px;
        margin-top: 20px;
      @include media(">ipad"){
        margin-top:40px;
        padding-top:40px;
      }
        >div>div {

          @include media("<ipad"){
            width: 100%;
            display: block !important;
          }
        }
		ul{
            @include media("<ipad"){
              width: 100%;
              display: block !important;
            }
            @include media(">sm", "<md"){
              margin-bottom: 10px;
            }
			li{
				text-transform:uppercase;

                @include media("<ipad"){
                  display: inline-block;
                }
                @include media(">=ipad"){
                  margin-right:5px;
                  margin-left:5px;
                }

			}
                //margin-bottom: 0;
			&:first-child{
				margin-right:20px;
			}
		} 
	}
}


footer a {
  &:hover , &:focus {
    opacity: 0.5;
    color: $brand-white;
  }
}


.site-footer {
  li span {
    margin-right:0;
    font-size: 0.5rem;
  }

  [class*='col-sm']{
   @include media("<ipad"){
     margin-bottom: 2rem;
   }
  }
}


.icon-lo {
  &:before{
    content: '';
    display: inline-block;
    text-align: center;
    background: url(../images/padlock.svg) center center no-repeat;
    width: 7px;
    height:9px;
  }

  //width: 9px;
  //height:11px;
  //padding: 8px;

  vertical-align: middle;
  -webkit-border-radius:10px;
  background-color:  #005787;
  -moz-border-radius:10px;
  border-radius:10px;
  line-height:14px;
  width: 18px;
  height:18px;
}

