/*
** @Download button cms reusable module
*/

/* Button pictos */
.button-picto {
	/* Button picto styles */
	position: relative;
	/* Psuedo elements for pictos */
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		content: "";
	}
}

[class*="button-picto"] {
	width: 2.667rem;
	height: 2.65rem;

	&::before {
		width: 2.667rem;
		height: 2.65rem;
		background: {
			repeat: no-repeat;
			size: 100%;
		}
	}	
}

.button-picto--pdfBlack {
	/* Black pdf picto */
	&::before {
		background: {
			image: url(#{$img_path}pdf-symbol.svg);
		}
	}	
}

.button-picto--pdfWhite {
	/* Black pdf picto */
	&::before {
		background: {
			image: url(#{$img_path}pdf-stroke.svg);			
		}
	}
}

.button-picto--downArrow {
	/* Black pdf picto */
	&::before {
		background: {
			image: url(#{$img_path}down-arrow.svg);
		}
	}
}

/* Button links */
.button-utilities__link,
.button-utilities__list li > a {
	display: inline-flex;
	align-items: center;
	color: $brand-black;
	vertical-align: middle;

	&:not(:last-of-type) {
		margin-right: 0.75rem;
	}

	> span {
		padding-left: 1.05rem;
	}
}

// Utilities after wordpress integration

.button-utilities__list {
	/* Psuedo elements for pictos */
	li {
		position: relative;
		width: 100%;
		text-align: left;

		&:not(:last-of-type) {
			margin-bottom: 1rem; // ~0.938rem;
		}
	}

	// Black pdf
	&--pdfblack {
		> li > a {			
			&::before {
				background: {
					image: url(#{$img_path}pdf-symbol.svg);
				}
			}
		}		
	}

	// White pdf
	&--pdfwhite {
		> li > a {			
			&::before {
				background: {
					image: url(#{$img_path}pdf-stroke.svg);
				}
			}
		}		
	}
}