/*
** @Social media utilites reusable module
*/

.lists.lists--social {
	>li {
		margin-bottom: 0;
		margin-right: 1.125rem;
		&:last-of-type {
			margin-right: 0;
		}
	}

	>li .icon {
		display: block;
		border: 1px solid $brand-gray;
		border-radius: 50%;
		font-size: 1.15rem;
		line-height: 2.377rem;
		height: 2.477rem;
		width: 2.477rem;
		text-align: center;
	}
}

// == Change brand color of individual social medias on hover
$brand_c_list : #3b5998, #1da1f2, #c13584, #ff0000, #bd081c, #0e6c9a;
$brand_c_class : facebook, twitter, instagram, youtube, pinterest,linkedin;

@for $i from 1 through length($brand_c_class) {
	.lists .icon-#{nth($brand_c_class, $i)} {
		transition: all ceaser($easeInOutQuint) 0.35s;
		&:hover {
			background-color: nth($brand_c_list, $i) !important;
			border-color: nth($brand_c_list, $i) !important;
			color: $brand-white !important;
		}
	}
}