/*
** @partial: _menu.scss
*/

// == Secondary menu
.navbar-secondary {
	padding-right: 4.33rem;
	@include media(">=ipad") {
		padding-right: 0rem;
	}
}

.secondary-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 -7px;
	font-size: 14px;
	font-weight: 600;
	//text-transform: uppercase;

	@include media(">sm") {
		font-size: 12px;
	}

	>li {
		padding: 0 7px
	}
}

// == Menu
.menu {
	color: $brand-white;
	font-family:$font-family--open-sans-bold; 
	//font-weight: 600;
	//text-transform: $uc;
	
	@include media(">=ipad") {
		//position: relative;
		//margin-right: -1.625rem;
		//margin-left: -1.625rem;
		color: $brand-title;		
	}

	>li, &__i {
		line-height: 1;
		//text-transform:uppercase;
		@include media(">=ipad") {
			//border:10px solid red;
			padding-right: 1.425rem;//~1.375rem;
			padding-left: 1.425rem;//~1.375rem;
			font-size:0.77rem;
		}

		&.hidden-md-up{
			font-family:$font-family-open-sans;
			text-transform:inherit;
		}

		> a {
			display: block;
			padding: 20px 15px;
			border-bottom: 1px solid lighten($brand-primary, 8%);
			color: $brand-white;
			//cursor:default;

			&.has-link{
				cursor:pointer;
			}

			@include media(">=ipad") {
				position: relative;
 				padding: 45px 0px;
				border-bottom: 0;
				color: inherit;

				&::after {
					position: absolute;
					right: 0;
					bottom: 30px;
					// left: 50%;
					left: 0;
					content: "";
					background: $brand-gray;
					height: 2px;
					width: 0;
					transform-origin: 0;
					transform: scale3d(0, 0, 0);
					transition: all ceaser($easeInOutQuint) 0.35s;
				}
			}

			.notTouchDevice & {
				@include media(">=ipad") {
					&:hover,
					&:focus {
						color: $brand-primary;
					}
				}
			}
		}
	}

	// == Current menu item
	.current-menu-item,
	.is-shown {
		> a{
			@include media(">=ipad") {
				color: $brand-primary; 

				&::after {
					width: 100%;
					transform: scale3d(1, 1, 1);
				}
			}
		}
	}
}

.menu-holder {
	@include media(">=ipad") {
		// padding-left: 3rem;
	}
}

.menu-container {
	margin: 0 auto;
	max-width: 920px;

	@include media("<=ls", ">=ipad") {
		max-width: 890px;
	}

	@include media(">=ds") {
		max-width: 970px;
	}
}

// == Mobile menu
@include media("<ipad") {
	// == Navbar header
	.navbar__header {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 60px;
		width: 60px;
	}

	// == Navbar toggle button
	.navbar__toggle {
		position: absolute;
		right: 0px;
		bottom: 0;
		top:0;
		background-color: $brand-primary;
		height: 80px;
		width: 80px;

		// Line bars
		.line-bar {
			position: absolute;
			top: 0;
			left: 50%;
			opacity: 1;
			margin-left: -17px;
			background: $brand-white;
			border-radius: 3px;
			height: 4px;
			width: 32px;
			transform: rotate(0deg);
			transition: all ceaser($easeInOutQuint) 0.35s;

			&:nth-child(1) {
				top: 30px;
			}

			&:nth-child(2), &:nth-child(3) {
				top: 39px;
			}

			&:nth-child(4) {
				top: 48px;
			}
		}

		// == Humburger menu opened
		&.expanded .line-bar {
			&:nth-child(1), &:nth-child(4) {
				top: 18px;
			    left: 50%;
			    opacity: 0;			    
			    width: 0%;			    
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}

	// == Menu holder
	.menu-holder {
		// position: fixed;
		// top: 80px;
		// right: 0; 
		// bottom: 0;
		// left: 0;
		// overflow-x: hidden;
		// overflow-y: auto;
		// background-color: $brand-primary;
		// transform: translateX(100%); 
		// transition: all ceaser($easeInOutQuint) 0.35s;

		position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    background-color: $brand-primary;
	    opacity: 0;
	    visibility: hidden;
	    transition: opacity .2s, right .3s, visibility .3s;
	    // height:1000px;
	    // background:black;

	     z-index:99;
	     pointer-events:none;

	    li>a{
	    	padding:15px 12px;
	    }

		// == Open state
		&.show {
			//transform: translateX(0%);

		    opacity: 1;
		    visibility: visible;
			pointer-events:auto;

		}
	}

	// == Menu
	.menu {
		display: block !important;
	}
}

// .resize-active{
// 	.navbar{
// 		@include media('<ipad') {
// 			.menu-holder {
// 				top:40px;
// 			}
// 		}
// 	}
// }
 
// li.has-submenu{

// 	@include media(">=ipad") {
		
// 		&:hover{
// 			>.submenu-holder{
// 				opacity:1;
// 				display:block;
// 				visibility:visible;
// 				pointer-events:auto;
// 				text-align:center;
// 			}
// 		}
// 	}
// }