/*
** @block gap reusable module
*/

/* Extract make-box-gaps mixin */
$block_gap_list_lg: (
	(
		eq
		4.777rem
	)

	(
		xs
		2.500rem
	)

	(
		sm
		3.611rem
	)

	(
		md
		4.111rem
	)

	(
		lg
		7.778rem
	)

	(
		xl
		10.278rem
	)
);

$block_gap_list_md: (	
	(
		eq
		2.286rem
	)

	(
		xs
		2.143rem
	)

	(
		sm
		2.500rem
	)

	(
		md
		3.241rem
	)

	(
		lg
		4.286rem
	)

	(
		xl
		5.714rem
	)
);

$block_gap_list_xs: (	
	(
		eq
		2.143rem
	)

	(
		xs
		1.429rem
	)

	(
		sm
		2.143rem
	)

	(
		md
		2.143rem
	)

	(
		lg
		2.143rem
	)

	(
		xl
		2.143rem
	)
);

@include make-block-gaps($block_gap_list_xs);

@include media(">sm") {
	@include make-block-gaps($block_gap_list_md);
}

@include media(">ipad") {
	@include make-block-gaps($block_gap_list_lg);
}


@include make-divider-space($block_gap_list_xs);

@include media(">sm") {
	@include make-divider-space($block_gap_list_md);
}

@include media(">ipad") {
	@include make-divider-space($block_gap_list_lg);
}


.gap-p-btm{
	padding-bottom:4.777rem;
}