/*
** @cms table module - reusable
*/

// Default table styles

main table,
.cms-table {
	// Table common styles	
	//text-align: center;
	text-align: left;

	// Responsive table
	&-responsive {
		width: 100%;
	}

	// Table heading styles
	th {
		background-color: $brand-primary;	
		padding:1rem;
		text-align:center;

		@include media(">sm") {
			width: 33.33333%;
		}
	}

	// Table cell styles
	td {
		//color: $table-data;		
		padding: 0.8rem 1rem;

		@include media(">sm") {
			width: 33.33333%;
			border-right: 1px solid $brand-gray-mid;
		}

		&:last-child{
			border-right: none;
		}
	}

	// H4 style inside table heading
	h4 {
		margin-bottom: 0;
		color: $brand-white;
		//text-transform: $uc;
		font-size:1rem;
		text-decoration:none;
	}

	// Breaing heading and table cell into new lines in smaller screens
	// Make responsive table by hiding table heading in mobile
	@include media("<=sm") {
		display: block;

		thead th {
			display: none;
		}

		tbody, tr, td {
			display: block;			
		}

		tbody {
			td {
				position: relative;
				text-align: left;

				&::before {					
					content: attr(data-th-title)':';
					display: block;
					padding-right: 0.5rem;
					float: none;
					background:$brand-primary;
					color:$brand-white;
					padding:5px 7px;
				}
			}
		}
	}

	// Make responsive table by hiding table heading in mobile
	@include media("<=400px") {
		tbody {
			td {
				text-align: left;
				&::before {
					margin-bottom: 0.35rem;
					float: none;
				}
			}
		}
	}
}

// Striped table styles
.cms-table--striped {
	tr {
		background-color:$brand-gray-light;
		&:nth-child(odd) {
			background-color: $tab-link-bg-color;
		}
	}	

	// Break heading and table cell into 2 different lines
	// @include media("<=xs") {
	// 	tbody {
	// 		td {
	// 			text-align: left;
	// 			&::before {
	// 				float: none;
	// 			}
	// 		}
	// 	}
	// }
}

// Bordered table styles
.cms-table--bordered {
	tbody {

		tr {
			td {
				//color: $brand-gray-light;
				text-align:center;

				@include media("<=sm") {
					padding-right: 0;
					padding-left: 0;

					&:not(:last-child) {
						border-bottom: 1px solid $brand-gray-mid;
					}
				}

				&:not(:last-child) {
					@include media(">sm") {
						border-right: 1px solid $brand-gray-mid;
					}	
				}
			}

			&:not(:last-of-type) {
				@include media(">sm") {
					td {
						border-bottom: 1px solid $brand-gray-mid;
					}
				}
			}
		}		
	}
}