/*
** @js-large-accordion module - reusable
*/

.#{$js_acc_lg} .#{$js_acc} {

	// Js large accordion title
	&__title {		
		background-color: $tab-link-bg-color;
		font-size: 1.844rem;
		line-height: 1;
		//text-transform: uppercase;	
		transition: all ceaser($easeInOutQuad) 0.35s;
		font-family:$font-family--open-sans-semibold;


		@include media("<=ipad", ">sm") {
    		font-size: 1.6rem;
    	}

    	@include media("<=sm") {
    		font-size: 1.25rem;
    	}

		// Adding background to left right of the title
		&::before,
		&::after {                                                                                                                                                                    
			position:absolute;
			top: 0;
			content:'';
			bottom: 0;
			height: 100%;
			background-color: $tab-link-bg-color;
			transition: all ceaser($easeInOutQuad) 0.35s;
		}

		&::before {
			left: -21.95rem;
			width: 21.95rem;
		}

		&::after {
			right: -21.95rem;
			width: 21.95rem;
		}

		// Js accordion toggler
		> .#{$js_acc}__toggler {
			@include media("<=sm") {
		    	padding: 1.55rem 0;	
		    }

		    @include media(">sm") {
		    	padding: 2rem 0 2.278rem 0;	
		    }

		     @include media(">ds") {
		    	padding: 4rem 0 4.278rem 0;	
		    }

			// Pseudo elements to create "+"/"-" symbol
			&::before,
			&::after,
			&:not(.expanded)::after {
			    @include media(">sm") {
			    	// right: 1.389rem;
			    	right: 50%;
			    	width: 10px;
			    	height: 3px;
			    	top:80%;
			    	transform: rotate(-45deg);
			    }

			    right: 50%;
		    	width: 10px;
		    	height: 3px;
		    	top:80%;
		    	transform: rotate(-45deg);
			}

			&:not(.expanded)::after {
				transform: rotate(45deg);
				right: calc(50% + 6px);
			}

			&.expanded::after,&.expanded::before  {
				display:none;
			}

		}		

	}

	// Js accordion panel body
	&__panel-collapse {
		display: none;		

		@include media("<=sm") {
	    	padding: 1rem 0rem 1rem 0rem;
	    }

	    @include media(">sm") {
	    	// padding: 2.2rem 3.611rem 4.222rem 2.222rem;
	    	 padding: 0 3.611rem 4.222rem 2.222rem;
	    	//background: red;
	    }
	}

	// Panel when it is active
	&__panel {
		&:not(:last-of-type) {
			margin-bottom: 1px;
		}

		p, ul, ol{
			color:#6a727b;
		}

		&.active {
			// Active panel body 
			.#{$js_acc}__panel-collapse {
				display: block;

				.block-col__body{


				}
			}

			// Title
			.#{$js_acc}__title {
				background-color: $brand-white;

				// after/before pseudos
				&::before,
				&::after {
					background-color: $brand-white;
				}
			}			
		}
	}
}

.js-accordion--lg .up-arrow{
		height: 20px;
		position: relative;
		display: block;

		&::before,
		&::after {
		    @include media(">sm") {
		    	// right: 1.389rem;
		    	
		    	width: 10px;		    	
		    	height: 3px;
		    	top:10px;
		    	transform: rotate(-45deg);
		    	position: absolute;
		    	content: '';
		    	background-color: $brand-black;
		    }

		    

		    @include media(">sm") {
		    	right:calc(50% - 2px);
		    }

		    @include media(">=ipad") {
		    	right:calc(50% - 5px);
		    }

		    @include media(">ipad") {
		    	right:calc(50% - 6px);
		    }

		    right:calc(50% - 6px);
		}

		&::before{
			transform: rotate(45deg);
			right: 48.9%;
		}

	}

.js-accordion--lg .js-accordion__panel h5{
	text-transform:inherit !important;
}

.js-accordion--lg .js-accordion__panel{

	&:nth-child(even){
		h4,h5{
			background: $brand-white;

			&:before,&:after{
				background: $brand-white;
			}
		}
	} 


	&:nth-child(odd){
		&.active{
			background: $tab-link-bg-color;
			&:before,&:after,
			h4.js-accordion__title,
			h4.js-accordion__title:before,
			h4.js-accordion__title:after,
			h5.js-accordion__title,
			h5.js-accordion__title:before,
			h5.js-accordion__title:after{
				background: $tab-link-bg-color !important;
			}

			.js-accordion__panel-collapse{
				position: relative;
				overflow:visible !important;

				&:before,&:after{
				position: absolute;
			    content: "";
			    top: 0;
			    bottom: 0;
			    height: 100%;
			    background-color: #f4f4f5;
			    transition: all cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.35s; 
			    width: 21.95rem; 		     
			    }

			    &:before{
			     left: -21.95rem;
			    }

			    &:after{
			     right: -21.95rem;   		     
			    }
			}
		}
	}

}



.lists-editor {
	margin-top: 1rem;
	padding-left: 5.1%;
	counter-reset: list-counter;

	>li {
		position: relative;
		padding-left: 1.45rem;

		&:not(:last-of-type) {
			margin-bottom: 0.1rem;
		}

		&::before {
			position: absolute;
			top: 8px;
			left: 0;
			content: "";
			border-radius: 50%;
			border-style: solid;
			border-width: 5px;
		}
	}

	// == Ordreded lists
	&--ordered {
		>li {
			&::before {
				top: auto;
				content: counter(list-counter) ".";
				counter-increment: list-counter;
				border: 0;
			}
		}
	}
}
