/*
** @partial: _fonts.scss
*/

// Importing ont faces from local directory

// == Open Sans font family
@font-face {
    font-family: 'Open Sans';
    src: url('#{$font_path}webfonts/OpenSans.eot');
    src: url('#{$font_path}webfonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('#{$font_path}webfonts/OpenSans-Semibold.eot');
    src: url('#{$font_path}webfonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans-Semibold.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans-Semibold.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('#{$font_path}webfonts/OpenSans-Bold.eot');
    src: url('#{$font_path}webfonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans-Bold.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans-Bold.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Barlow Bold';
    src: url('#{$font_path}webfonts/Barlow-Bold.woff') format('woff'),
    url('#{$font_path}webfonts/Barlow-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Medium';
    src: url('#{$font_path}webfonts/Barlow-Medium.woff') format('woff'),
    url('#{$font_path}webfonts/Barlow-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semibold';
    src: url('#{$font_path}webfonts/Barlow-SemiBold.woff') format('woff'),
    url('#{$font_path}webfonts/Barlow-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    src: url('#{$font_path}webfonts/Barlow-Regular.woff') format('woff'),
    url('#{$font_path}webfonts/Barlow-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}



