<!-- Reusable simple text block -->
                <section class="block block--text home-intro gap-p-eq bg-white is-extended wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.15s" data-wow-offset="20">
                    <!-- <header class="block__h text-center mb-4 mb-lg-5">
                        <h2 class="mb-0">Mise en page 2 colonnes</h2>
                        <p>Lorem ipsum dolor sit amet it consectetur dolor sit amet oirutz eiutodh ciid</p>
                    </header> -->

                    <div class="block__b">
                        <div class="row align-items-center">
                            <div class="col-sm-8 mb-3 mb-sm-0">
                                <div class="card wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.15s" data-wow-offset="20">
                                    <figure class="card__pic mb-0" id="c-image" >
                                        <img alt="Post Thumbnail" class="img img-full img-fluid rounded" src="contents/item1.jpg" />
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-4 flex-sm-first">
                                <div class="card wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.15s" data-wow-offset="20">
                                    <div class="card__b pl-0 pr-sm-3 py-0" id="c-imgchange">
                                        <a href="" id="1" data-img="contents/item1.jpg">
                                            <h3 class="horizontal-line text-primary text-uppercase"><span>Who we are</span></h3>
                                            <p class="mb-2 mb-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
                                        </a>

                                        <a href="" id="2" data-img="contents/item2.jpg">
                                            <h3 class="text-primary text-uppercase"><span>trb at a glance</span></h3>
                                            <p class="mb-2 mb-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>

                                        </a>

                                        <a href="" id="3" data-img="contents/item3.jpg">
                                            <h3 class="text-primary text-uppercase"><span>History</span></h3>
                                            <p class="mb-2 mb-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.Block body ends -->
                </section><!-- /.Reusable simple text block ends -->