/*
** @partial: _cards.scss
*/

// == Import all the card related partials
@import "text-card";
@import "promotion-card";
@import "social-media";

// == Card columns
.card-col {
	@include media('>sm') {
		&--4 {
			flex: 0 0 29.957788%;
			max-width: 29.957788%;
		}

		&--5 {
			flex: 0 0 (100% - 59.91555%);
			max-width: (100% - 59.91555%);
		}

		&--7 {
			flex: 0 0 59.91555%;
			max-width: 59.91555%;
		}
	}
}

// == Card body
.card__b {
	padding: 1.786rem 1.071rem;
	@include media('>=ipad') {
		padding: 10.528% 6.14233%;
	}
}

// == Square card
.card--sq {
	position: relative;
	overflow: hidden;
	transition: all ceaser($easeInOutQuint) 0.35s;

	&::after {
		content: "";
		display: block;
		padding-bottom: percentage(350 / 350);
	}

	// == card inner
	.card__c {
		@include make-full-position(absolute);
		padding: 1.071rem 1.071rem;
		text-align: center;

		&.center {
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}
	}
}

// == Has hover effect
.card.has-hover {
	&:hover {
		color: $brand-primary !important;
	}
}

// == has promo tag
.has-promo-tag {
	.promo-tag-holder {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 1;
		height: 5rem;
		width: 5rem;
		transform: rotate(45deg);

		&::before {
			@include make-position(absolute);
			// top: -25px;
    		// right: -42px;
    		top: -1.389rem;
    		right: -2.25rem; //~-2.333rem;
			z-index: $zindex-neg;
			content: "";
			border-left: 5rem solid transparent;
			border-right: 5rem solid transparent;
			border-bottom: 5rem solid $brand-primary;
		}
	}

	.icon {
			
	}
}

.promo-tag-holder {
	.icon {
		font-size: 1.6rem;		
	}
}

// == Card brand 
.card--brand {
	padding: 1.071rem 1.071rem;//~1.786rem 1.071rem;
	width: 100%;
	@include media(">=ipad") {
		padding: 1.444rem 15%; //~6% 15%; Firefox sucks with flex childs having top/bottom(y-axis) margin/padding in percentage
	}

	.card__t {
		margin-bottom: 1.15rem;
	}
}

// Card meta list
.meta-list {
	@include media(">=ipad") {
		margin-right: -10%;
	}

	>li>a {
		.icon {
			transition: all ceaser($easeInOutQuint) 0.35s;
		}
		
		&:hover {
			>.icon {
				color: $brand-primary;
			}
		}
	}
}

// == Card with ribbon
.has-ribbon {
	@include media(">sm") {
		position: relative;
		&::before {
			position: absolute;
			top: -5.499999rem;
			left: -1.5rem;
			z-index: $zindex-low;
			content: "";
			background-image: url(#{$img_path}ribbon.png);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: cover;
			width: 16.389rem;
			height: 14.389rem;
		}
	}
}

// == Card contents
.article-card {
	position: relative;
	overflow: hidden;
}

.article-card__c {
	position: relative;
	padding: 1.786rem 1.071rem 3rem;
	@include media(">=ipad") {
		padding: 10.75% 9.2222% 12.5%;
	}
}

// == article picture
.article-card__pic {
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		padding-bottom: percentage(471/685);
	}

	>.img {
		@include make-full-position(absolute);
	}
}

// == Small and Medium article cards common style
.article-card--sm,
.article-card--md {
	@include media(">sm") {
		.picto-holder {
			line-height: 3.241rem;
			height: 3.241rem;
			width: 3.241rem;
		}
	}

	@include media(">=ipad") {
		.article-card__c {
			padding: 9% 8.75% 7%; //~9% 8.25% 7%;
		}

		.picto-holder {
			line-height: 3.889rem;
			height: 3.889rem;
			width: 3.889rem;
		}

		.promo-title {
			font-size: 1.778rem;//~1.667rem;
		}

		.promo-cat {
			margin-bottom: 1.55rem;
		}
	}
}

// == Small article card
.article-card--sm {
	@include media(">=ipad") {
		.article-card__c {
			padding: 9% 8.25% 7%;
		}
	}
}

// == Medium article card
.article-card--md {
	@include media(">=ipad") {
		.article-card__c {
			padding: 13% 8.25% 13%;
		}

		.promo-action-list {
			right: 8.25%;
		}
	}
}

// == More article holder
.more-article-holder {
	@include media(">sm") {
		position: absolute;
		top: -0.40%;
		right: 0;

		&::after {
			position: absolute;
			top: 50%;
			right: -63%;
			content: "";
			background-color: $brand-gray;
			height: 3px;
			width: 56%;
			transform: translateY(-50%);
		}
	}

	@include media(">=1600px") {
		right: -17%;
	}
}



