/*
** @partial: _social-media.scss
*/

// == Instagram block
.block.block--instagram.last {
	padding-top: 2.143rem;
	@include media(">sm") {
		padding-top: 0;
	}
}

// == social-media container
.social-media-container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1200px;

	@include media(">sm") {
		width: 63.488888%;
	}
}

// == social media cols
.social-media-col {
	&.sm {
		flex: 0 0 50%;
		max-width: 50%;

		@include media(">sm") {
			flex: 0 0 29.957788%;
			max-width: 29.957788%;
		}
	}

	&.lg {
		flex: 0 0 50%;
		max-width: 50%;

		@include media(">sm") {
			flex: 0 0 (100% - 59.91555%);
			max-width: (100% - 59.91555%);
		}
	}
}

// == Push social media columns
@include media(">sm") {
	.social-media-col.push-right {
		margin-right: -29.957788%;
	}

	.social-media-col.push-left {
		left: -29.957788%;
	}
}

// == social media container
.social-media-container .picto-holder {
	position: absolute;
	top: 0;
	@include media(">sm") {
		top: 33.5%;
		left: 33.5%;
	}
}

// == social media title col
.social-media-col.title {
	@include media("<ipad", ">sm") {
		flex: 0 0 42%;
		max-width: 42%;
	}

	@include media("<=sm") {
		flex: 0 0 100%;
		max-width: 100%;

		.card--sq {
			&::after {
				padding-bottom: 10rem;
			}
		}
	}
}

// == social media last col
.social-media-col.last {
	@include media("<=sm") {
		// position: absolute;
		// top: 0;
		// left: 60.2%;
		// width: 3.75rem;
  //   	height: 3.75rem;
	}
}