/*
** Layout module
*/

// == Site outer wrapper
.site-outer {
	overflow-x: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 80px;
	max-width: 1920px; //~1920px;
	@include media(">=ipad") {
		padding-top: 139px;
	}
}

// == Make full width layout
.is-extended-full {
	margin-right: -15px;
	margin-left: -15px;
	@include media(">sm") {
		width: 100vw; //~-20.316rem;
		// margin-left: calc(50% - (50vw + 8px));
		margin-left: calc(50% - 50vw);
	}

	@include media("<1300px", ">ipad") {
		margin-left: calc(50% - (50vw + 8px));
	}

	// @include media(">1920px") {
	// 	.no-touch & {
	// 		margin-left: calc(50% - 50vw);
	// 	}
	// }
}

.is-extended {
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
	@include media(">=1170px") {
		margin-right: -20.834rem; //~-20.834rem = 1920px
		margin-left: -20.834rem;
		padding-right: 20.834rem;
		padding-left: 20.834rem;
	}
}

.is-xs-extended {
	@include media("<=sm") {
		margin-right: -15px;
		margin-left: -15px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

// == text container
[class*="text-container"] {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.text-container--xs {
	max-width: 685px;
}

.text-container--sm {
	max-width: 850px;
}

// == Custom layouts
.col-xs-3 {
	@include media("<=sm", ">=xmd") {
		flex: 0 0 25%;
		max-width: 25%;
	}
}



.block--home-map {
	//padding-top: 12rem !important;
	//padding-bottom: 5rem !important;

	

	@include media(">sm"){
		min-height:480px;
		background-position: center 110px !important;
	}

	

	@include media(">=ipad"){
		min-height:620px;
		padding-top:0 !important;
	}

	.card {
		width: 100%;
		float: right; 

		&__b {

			p{

				@include media("<sm"){
					padding: 1.1rem;
					background-color: rgba(255,255,255,0.70); 
				}
			}

			@include media(">=sm"){
				width: 75%;		
				padding-top:0 !important;
				text-align:center;
				margin:auto;				
			}
		}
	}
}


.btn {
	@include media(">=sm"){
		min-width: 170px !important;
	}
}

.custom-object-fit {
	position: relative;
	background-size: cover;
	background-position: center center;
	img {
		opacity: 0;
	}
}


.home-banner {

	.slider__b{
		position:relative;

		@include media(">=ipad"){
			height: 308px;
			overflow:hidden;
		}

		@include media(">=ls","<1810px"){ 
			height:386px;
		}

		@include media(">=1810px","<1920px"){
			height: 540px;
		}

		@include media(">=1920px"){
			height: 580px;
		}
	}

	.slider__pic{

		img{
			object-fit: cover;
		}	

		// @include media(">=ds"){
		// 	height: 580px;
		// }

		// img{
		// 	object-fit: cover;

		// 	@include media(">=ipad"){
		// 		height: 420px;
		// 	}
		// 	@include media(">=ls"){
		// 		height: 620px;
		// 	}
		// }
	}

	.is-floated.center {
		@include media("<sm"){
			// text-align: center;
			// position:absolute;
			// bottom:0;
			// top: auto;
			background-color: $brand-primary;
			padding: 1rem;
			position:relative !important;
			transform:translateX(0%) translateY(0%);
			left: 0;
			right:0;
			width:100%;
			font-size:1.214rem;
			// transform: translateX(0%) translateY(0%);
		}
	}
}

.newsroom-block{
	.bg-white{
		height:210px;
	}
}

#c-image, #c-imgchange .horizontal-line:after {
	@include media("<sm"){
		display: none;
	}
}

#c-imgchange a {
	z-index:100;
	position:relative;
}

.block--home-map {
	@include media("<sm"){
		background-position:center 10% !important;
		padding-top: 221px !important;
		background-size: 100% !important;
		text-align: center !important;
	}
}

.swiper-three-js-xs {
	padding-top: 1rem;

	@include media(">=sm"){
		padding-bottom: 15px;
	}

	.card {
		margin:0 1rem;
	}

	.swiper-arrow {
		position: relative;
		width: 115px;
		margin: 25px auto 0 auto;
		height: 22px;
		>div {
			float: left;
			//background-color: red;
		}
		.icon {
			margin-top: -7px;
			font-size: 1.2rem;
			height: inherit;
			margin-right: 0;
			color: $brand-dark;
			vertical-align: top;
			position: relative;

			&.swiper-button-prev {
				margin-top: -13px;
				transform: rotate(180deg);
			}
		}
	}

	.swiper-item-number {
		padding: 0 1rem;
	}
}
.swiper-pagination-round {
	span {
		border:solid 1px #d7d7d7;
		background-color: inherit;
		width: 32px;
		height:32px;
		margin: 0 10px;
		opacity:1;
		font-size: 14px;
		line-height: 28px;

		&:hover, &.swiper-pagination-bullet-active {
			border:solid 3px $brand-black
		}
	}
}

.page-location {
  .modal-backdrop {
    display: none; 
  }
}

.popup-map {
	background-color:  $brand-black;
	position: absolute;
	//left:0;
	padding: 1.5rem;
	color: $brand-white;
	top: 22%;
	//right: 0;
	font-size: 0.8rem;
	z-index: 100;
	max-height: 450px;
	width:400px;
    overflow: auto;
	 //width: 100%;
	//max-width: 370px;

	//transform: translateX(24px) translateY(-124px);
	//transform: translateX(24px) translateY(-14px);
	transform: translateX(27px) translateY(-25px); 


	// &.d-none{
	// 	@include media("<sm") {
	// 		display:block !important; 
	// 	}
	// }


  p {
    margin-bottom: 1.5rem;
  }


	// &:after {
	// 	right: 100%;
	// 	top: 20px;
	// 	border: solid transparent;
	// 	content: " ";
	// 	height: 0;
	// 	width: 0;
	// 	position: absolute;
	// 	pointer-events: none;
	// 	background-color: $brand-black;
	// 	border-right-color: $brand-black;
	// 	border-width: 10px;
	// 	margin-top: -10px;

	// 	display: none;
	// }

	&:after {
		right: 100%;
		top: 32px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(106, 114, 123, 0);
		border-right-color: $brand-black;
		border-width: 10px;
		margin-top: -10px;
	}


}

.global-presence ul.tabs{
	list-style: none;
	/*margin:46px auto;*/
	text-align: center;


	li{
		height: 40px;
		line-height: 40px;
		color: #000;
		margin-right:2.5rem;
		margin-left:2.5rem;
		display: inline-block;
		cursor: pointer;
		//width: 25%;
		//margin-right: -3px;
		position: relative;
		font-size: 18px;
		//max-width: 186px;
		&:before {
			width: 20px;
			height: 20px;
			content: "";
			display: inline-block;
			background-color: #d7dcde;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			margin-bottom: -4px;
		}

		&.current{
			opacity: 1;
			&:before {
				background-color: $brand-primary;
				-moz-box-shadow:    inset 0 0 3px #005176;
				-webkit-box-shadow: inset 0 0 3px #005176;
				box-shadow:         inset 0 0 3px #005176;
			}

		}

		@include media("<ipad") {
			margin-right:20px;
			margin-left:0;
		}
	}
}

.global-presence ul.tabs li:last-child { border-right: none;}

//.global-presence ul.tabs li.purple, .global-presence ul.tabs li.blue, .global-presence ul.tabs li.grey { background: none;}
//.global-presence ul.tabs li.purple { border: 1px solid #692868; color: #692868;}
//.global-presence ul.tabs li.blue { border: 1px solid #4fb9c3; margin: 0 7%; color: #4fb9c3;}
//.global-presence ul.tabs li.grey { border: 1px solid #556770; color: #556770;}

//.global-presence ul.tabs li.purple.current, .global-presence ul.tabs li.purple:hover { background: #692868; color: #fff;}
//
//.global-presence ul.tabs li.blue.current, .global-presence ul.tabs li.blue:hover { background: #4fb9c3; color: #fff;}
//.global-presence ul.tabs li.grey.current, .global-presence ul.tabs li.grey:hover { background: #556770; color: #fff;}


.global-presence ul.tabs li span { padding: 0; display: inline-block;  padding-left: 10px;
	text-align: left;
	@include media("<=sm"){
		width: 80%;
	}
	@include media(">sm"){
		text-align: center; 
	}
}
.global-presence .tab-content{ display: none; overflow: inherit}
.global-presence .tab-content.current{ display: inherit; position: relative;}
.global-presence .tab-content img { width: 100%;}

//.global-presence ul.tabs li .arrow-down { height: 14px; width: 14px; display: inline-block; background: url(../img/arrow-down-purple.png) no-repeat center center; vertical-align: middle; margin-top: -3px; margin-left: 26px; transition: all linear 0.2s; -moz-transition: all linear 0.2s; -webkit-transition: all linear 0.2s;}
//.global-presence ul.tabs li.blue .arrow-down { background: url(../img/arrow-down-blue.png) no-repeat center center;}
//.global-presence ul.tabs li.grey .arrow-down { background: url(../img/arrow-down-grey.png) no-repeat center center;}
//.global-presence ul.tabs li.current .arrow-down, .global-presence ul.tabs li:hover .arrow-down { background: url(../img/arrow-down-white.png) no-repeat center center;}

.map-pointer { background: url(../../contents/map-marker.png) no-repeat left top; display: block; height: 88px; width: 89px; position: absolute; text-align: center;}
.map-pointer.large { background: url(../../contents/map-marker-large.png) no-repeat left top; display: block; height: 114px; width: 122px;}
.map-pointer .pointer-container { position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -15px; width: 100%; transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
.map-pointer .pointer-container.not-link:hover { cursor: pointer;}
.map-pointer h2 { font-size: 19px; text-transform: uppercase; margin: 0; padding: 0; color: #fff; font-family:  'ImperialURWNar-Bol'; font-weight: 400; padding-bottom: 3px;}
.map-pointer h2:after { content: ''; width: 70px; height: 1px; background: #fff; display: block; margin: 0 auto;}
.map-pointer p { color: #fff; font-size: 11px; line-height: 13px; margin: 0;}
.map-pointer p.country { font-size: 9px;}
.map-pointer-small { height: 14px; width: 14px; border-radius: 50%; background: $brand-primary; position: absolute;}
.map-pointer-small:hover { opacity: 0.8;}
.map-pointer-small.grey { background: #556770;}
.map-pointer-small.not-link { cursor: pointer !important;}  
.map-pointer-small.not-link:hover { opacity: 1;}

.list-style ul.right-align li, .list-style ul.left-align li { font-size: 19px;}
.list-style ul.right-align li:before, .list-style ul.left-align li:before { display: none;}
.list-style ul.right-align li { text-align: right; padding-right: 35px;}
.list-style ul.left-align li { padding-left: 35px;}
.list-style.blue-list ul.right-align li { background: url(../img/icons/icon-list.png) no-repeat 100% 11px;}
.list-style.blue-list ul.left-align li { background: url(../img/icons/icon-list.png) no-repeat 0% 11px;}
.list-style.grey-list ul.right-align li { background: url(../img/icons/icon-list-grey.png) no-repeat 100% 11px;}
.list-style.grey-list ul.left-align li { background: url(../img/icons/icon-list-grey.png) no-repeat 0% 11px;}
.list-style.purple-list ul.right-align li { background: url(../img/icons/icon-list-purple.png) no-repeat 100% 11px;}
.list-style.purple-list ul.left-align li { background: url(../img/icons/icon-list-purple.png) no-repeat 0% 11px;}
.list-style .two .blocks { width: 46%; margin-right: 8%;}
.list-style .two .blocks:last-child { margin-right: 0;}
.global-presence .visibleonmobile {
	display: none;
}
@media (max-width: 991px) {
	.hideonmobile { display: none;}
	.global-presence .visibleonmobile { display: block; width: 90%; margin: 0 auto;
		padding-bottom:40px;
		clear: both; }
	.global-presence .visibleonmobile ul li { list-style: none; margin: 10px 0; font-size: 18px; position: relative; padding-left: 8%; width: 45%; display: inline-block;}
	.global-presence .visibleonmobile ul li:before { content: ''; height: 8px; width: 8px; background: #3a3737; border-radius: 50%; position: absolute; left: 0; top: 50%; margin-top: -4px;}
	.global-presence .visibleonmobile ul li a { color: #31393c;}
	.global-presence ul.tabs {
		width: 100%;
		//margin: 20px auto;
		max-width: inherit;
		}
	.global-presence ul.tabs li {
		//width: 25%;
		//float: left;
		max-width: inherit;
		margin-bottom: -4px;
	}
	.global-presence ul.tabs li.blue { margin: 0; margin-right: -4px;}
	.filter .container { padding: 70px 0;}
}

@media (max-width: 767px) {
	.global-presence ul.tabs li {
		width: 100%;
		margin-bottom: 5px !important;
		margin-left:0;
	}
	.global-presence .visibleonmobile ul li {
		width: 100%;
		margin: 5px 0;
	}
}

// .global-presence ul.tabs li {
// 	@include media(">xmd", "<=sm"){
// 		width: 33.33%;
// 		font-size: 14px;

// 	}
// }

.loader{
	width:100%;text-align: center;padding:30px;

	@include media("<=sm") {
		padding:10px;
	}
}

.border-radius-5 {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

// location pages
.c-country {
  h3 {
    color: $brand-primary;
    margin-top:30px;
  }
  ul {
    padding-left: 0;
    margin-top:20px;

    li{
      //padding-left: 0;
      padding-left: 23px;
      &:before {
        //display: none;
      border-top-right-radius: 0;
        color: $brand-dark-gray;

      }

      li, a {
        color: $brand-dark-gray;
      }
    }
  }
}



// news room filter style


.block--filter {
	vertical-align: top;
	ul li  {
		display: inline-block;
		padding-left: 0 !important;
		margin-bottom: 0.5rem !important;

		@include media("<=xs"){
			font-size: 12px;
			margin-bottom: 1rem !important;
		}

		@include media("<sm"){
			width: 49%;
		}

		@include media(">=sm"){
			//width: 32%;
			padding: 0 4% !important;
		}

		@include media(">=ipad"){
			//display: block !important;



		}
		&:before {
			right: 10px !important;
			top: 5px !important;
			left:inherit !important;
			border-color: $brand-primary;
			@extend .chevron;
			@extend .chevron--down;
			border-radius: 0;


			@include media(">ipad", "<=ls"){
				right: 20px !important;
			}
		}
	}

	h5 {
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #838689;
		float: left;
		font-size: 1rem;
		margin-bottom: 1.2rem;
	}

	&__menu {

		@include media(">=sm", "<ipad"){
			width: 100%;
		}
		@include media("<ipad"){
			clear: both;
		}
		@include media(">=ipad"){
			width: 85.83333333333333%;
			float: right;
			text-align: right;
		}
		ul {
			margin-top: 0;
			padding-left: 0;

			li {
				a {
					color: #1f1f1f;
				}

				&.current, &:hover {
					a {
						color: $brand-primary;
					}
				}
			}
		}
	}
}


.l--filter {
	//@include media(">ipad"){
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	//}
	.card {
		@include media(">=sm"){
			margin-bottom: 2rem;
		}
	}
	h5 {
		@include media(">=sm") {
			min-height: 108px;
			overflow: hidden;
			border:5px solid green;
		}
	}

	h3{
		font-family:$font-family-open-sans;
	}

	&__pager {
		.icon-left {
			transform: rotate(180deg);
			margin-top: -5px;
		}
	}
}



.home-intro{
	@include media("<sm") {
		padding-top:0 !important;
		padding-bottom:.5rem !important;
	}
	&.text-right{

		&.gap-p-eq{
			@include media("<=ipad") {
				background-size:contain !important;
				// padding-top: 2rem !important;
				// padding-bottom: 12rem !important;
				margin:1rem 0;
				// /min-height:500px;

				.card__b{
					padding:5.5rem 1.071rem;
				}

			}

			@include media("<=610px") {
				.card__b{
					padding:5.5rem 1.071rem 1rem;
				}
			}

			//padding-bottom: 11rem !important;

			// @include media(">sm","<=ipad") {
			// 	padding-top: 11rem;
			// 	padding-bottom: 11rem;
			// }

			// @include media(">=319px","<=xs") {
			// 	.card__b{
			// 		padding:2.5rem 1.071rem;
			// 	}
				
			// }

			// @include media(">xs","<=sm") {
			// 	padding-top: 11rem;
			// 	padding-bottom: 11rem;
			// }
		}

	}
	
}


.mobile-map {
	display: none;
	@include media("<md"){
		display: none;
		background-color: #6a727b;
		padding: 1rem;
		color: #fff;
		margin-top: 0.5rem;
		margin-bottom:2rem;
		top: 22%;
		font-size: 0.8rem;
		z-index: 100;
	}
}

.c-country {
	ul {
		@include media("<md"){
			margin-top: 0;
			margin-bottom: 1rem;
		}
	}
	li {
		@include media("<md"){
			&:hover {
				.mobile-map {
					display: block;
				}
			}
		}
	}
}