.theme-primary {
    .border-top {
        border-top: 4px solid $brand-primary;
    }
    h3 {
        color: $brand-primary;
    }

    //.btn {
    //    border-color: $brand-primary;
    //    color: $brand-primary;
    //
    //    &:hover {
    //        background-color: $brand-primary;
    //        border-color: $brand-white;
    //    }
    //}
}


.theme-primary-2 {
    .border-top {
        border-top: 4px solid $brand-primary2;
    }
    h3 {
        color: $brand-primary2;
    }

    // .btn {
    //    border-color: $brand-primary2;
    //    color: $brand-primary2;
    
    //    &:hover {
    //        background-color: $brand-primary2;
    //        border-color: $brand-white;
    //    }
    // }


     .btn {
       border-color: $brand-primary2;
       background-color: $brand-primary2;
       color: $brand-white;
    
       &:hover {
           border-color: $brand-primary2;
           background: none !important;
           color: $brand-primary2;
       }
    }
}

.theme-green {
    .border-top {
        border-top: 4px solid $brand-green;
    }
    h3 {
        color: $brand-green;
    }

    // .btn {
    //     border-color: $brand-green;
    //     color: $brand-green;

    // &:hover {
    //      background-color: $brand-green;
    //      border-color: $brand-white;
    //  }
    // }

    .btn {
        border-color: $brand-green;
        background-color: $brand-green;
        color: $brand-white;

    &:hover {
         border-color: $brand-green;
         border-color: $brand-green;
         background: none !important;
         color: $brand-green;
     }
    }
}



.theme-grey {
    .border-top {
        border-top: 4px solid $brand-grey;
    }
    h3 {
        color: $brand-grey;
    }

    // .btn {
    //     border-color: $brand-grey;
    //     color: $brand-grey;

    // &:hover {
    //      background-color: $brand-grey;
    //      border-color: $brand-white;
    //  }
    // }


    .btn {
        border-color: $brand-grey;
        background-color: $brand-grey;
        color: $brand-white; 

    &:hover {
         border-color: $brand-grey;
         border-color: $brand-grey;
         background: none !important;
         color: $brand-grey;
     }
    }
}





