/* Common utilities */
// Remove arrow from select in IE
select::-ms-expand {
    display: none;
}

// == position
.position {
	&-relative {
		position: relative;
	}

	&-static {
		position: static;
	}

	&-absolute {
		position: absolute;
	}

	&-fixed {
		position: fixed;
	}
}

// Narrow line-height
.lh-1 {
	line-height: 1.1;
}

// Shadow
.shadowed {
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 22px 2px rgba(0,0,0,0.05);


}

.card__b.border-primary{
	//border-top:4px solid $brand-primary;
}

// overflow
.overflow-visible {
	overflow: visible !important;
}

// Full width image
.img-full {
	width: 100%;
}

.img-xs-full {
	@include media("<=sm") {
		width: 100%;
	}
}

// Cover image
[data-cover-image="true"]{
	@include media("<=sm") {
		background-image: none !important;
	}

	@include media(">sm") {
		@include make-bkg-image(no-repeat, center center, cover);
	}
}

// Is parallaxed
.is-parallaxed {
	.no-touch & {
		background-attachment: fixed;
	}
}

// mask overlay
.mask-overlay {
	&::before {
		@include make-pseudo-position(absolute, full) {
			// z-index: $zindex-normal;
			background-color: transparentize(darken($brand-dark, 100%), 0.75);
			transition: all ceaser($easeInOutQuint) 0.35s;
		};
	}
}

.hide-xs-mask {
	&::before {
		@include media("<=sm") {
			display: none !important;
		}
	}
}

// overlay cover
.overlay-cover {
	@include make-full-position(absolute);
	z-index: $zindex-low;

	// image
	&__img {
		@include make-full-position(absolute);

		// Is right aligned
		.right & {
			left: auto;
		}
	}
}

// == overflow hidden
.shell-mask {
	overflow: hidden;
}

// == border sizing
.border-0 {
	border: 0 !important;
}

.border-fat {
	border-width: 5px !important;
}

// == Border color
.border-white {
	border-color: $brand-white !important;
}

.border-primary {
	border-color: $brand-primary !important;
}

.border-faded {
	border-color: $brand-gray !important;
}

// Animate image :: kenBurns
@keyframes kenBurns {
	0% {transform: scale(1); }
	100% {transform: scale(1.1); }
}

.zoom-effect-holder {
	@extend .shell-mask !optional;
}

.zoom-effect {
	animation: kenBurns 12s ease alternate infinite; //~ 15s
	-webkit-animation: kenBurns 12s ease alternate infinite; //~ 15s
}

/* Link overlay style */
.link-stacked {
	@include make-pseudo-position(absolute, full);
	z-index: $zindex-normal;
}

/* Web page customized selection feature */
@include selection($brand-primary, $brand-white);

// Smooth box shadow
%box-shadow {
	// box-shadow: 8px 8px 10px 0px rgba(57,57,57,0.13);
	transition: all ceaser($easeInOutQuad) 0.5s;
}

// Off css transition if window is resizing
.resize-active {
	* {
		transition: none !important;
	}
}

// Enable debuggin mode in development environment
// @include debug();

/*
** Wow plugin animations 
*/

.wow {
	visibility: hidden;
}

// == Turn cursor into pointer
button, [role="button"] {
	cursor: pointer;
}

// == Shape squre
.shape-sq {
	width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    vertical-align: top;

	@include media(">sm") {
		width: 4.778rem;
		height: 4.778rem;
		line-height: 4.773rem;
	}
}

// == Negative top offsets
[class*="mt-offset"] {
	position: relative;
	z-index: $zindex-normal;
}
.mt-offset-3 {
	@include media(">sm") {
		margin-top: -1.85rem;
	}
}

.mt-offset-4 {
	@include media(">sm") {
		margin-top: -2.222rem;
	}
}

.mt-offset-5 {
	@include media(">sm") {
		margin-top: -2.778rem;
	}
}

.mt-offset-eq {
	@include media(">sm") {
		margin-top: -22.6%;//~-9.778rem;
	}
}

.mt-pull-8 {
	@include media(">sm") {
		margin-top: 7.143rem;
	}

	@include media(">=ls") {
		margin-top: 5.556rem;//~8.35%;
	}
}

.mb-pull-4 {
	@include media(">sm") {
		margin-bottom: -3.143rem;
	}

	@include media(">=ls") {
		margin-bottom: -2.44rem; //~-3.75%;;
	}
}

// == Newsletter
.has-texture {
    background: url(#{$img_path}newsletter-pattern.jpg) repeat;
}

// == zindexs
.zindex-2 {
	z-index: 2;
}

// == Js collpase
.js-collapse {
	display: none;
}

// == Last block
.block.last {
	padding-bottom: 2.143rem;
	@include media(">sm") {		
		padding-bottom: 16.667rem;
	}
}

// == Is floated element
.is-floated {
	position: absolute !important;
	left: 0;
	right: 0;

	&.center {
		top: 50%;
		left: 50%;
		// right: auto;
		transform: translateX(-50%) translateY(-50%);
	}

	&.right {
		top: 1.389rem;
		right: 1.071rem;
		left: auto;
		@include media(">=ipad") {
			top: 2.778rem;
			right: 1.944rem;
		}
	}

	&.right-bottom {
		right: 0;
		bottom: 0;
		left: auto;
	}
}

// == promo text
.text-has-icon {
	display: inline-block;
	vertical-align: top;
	padding-left: 2.35rem;
	.icon {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -0.25rem;
		font-size: 1.6rem;
		transform: translateY(-50%) rotate(30deg);
	}
}

// == Background none in >sm = >767px
.bg-sm-none {
	@include media(">sm") {
		background: none !important;
	}
}

.rounded{
	border-radius:5px; 

	&.upper{
		border-radius:5px 5px 0 0;
	}
}

.home-banner{
	position:relative;
	min-height:2rem !important;

	.content {
		@include media(">sm") {
			max-width:100%;			
			top:0;
			position:absolute;
			left:50%;
			bottom:0;			
			word-wrap:break-word;
			right:0;
			background:rgba(0,144,210,0.8);	

			.card{
			  margin-left:10rem;
			  margin-right:10rem;
			}
		}

		@include media(">ds") {
			max-width:960px;
		}

		
	}

} 

.home-intro{

	h3{
		font-family:$font-family-open-sans;
	}

	h3.horizontal-line{
		position:relative;		

		&:after{
			position:absolute;
			top:50%;
			right:-100px;
			background:$brand-primary3;
			height:3px;
			width:100%;
			content:'';
		}

		span{
			background:$brand-white;
			padding-right:10px;
			display:inline-block;
			padding:0 10px 0 0;
			position:relative;
			z-index:1;
		}
	}

	a p{
		color:$brand-dark;

		@include media(">=sm") {
			padding-bottom:3.5rem !important;
			margin-bottom:0 !important;
		}
	}
}

.focus-banner{
	background:url("../../contents/focus.jpg");

	@include media("<sm") {
		min-height: 25rem !important;

		p{
			padding-left:10px;
			padding-right:10px;
		}
	}

	&:before{
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		content:'';
	}
}

.hidden-lg-up{
	@include media(">991px") {
		display:none;
	}
}

.js-marker-proxy{
	cursor:pointer;
}

.bg-white{
	color:$brand-title;
}

.pull-right{
	float:right;
}

#static-popup .pull-right{
	color:$brand-white;
	cursor:pointer;
}

.map-link,.full-link{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#wpadminbar{
	position:fixed;
}

.admin-bar{

	header{
		padding-top:46px; 

		@include media(">802px") {
			padding-top:32px;
		}
	}
	

	.menu-holder{
		top:125px;

		@include media(">802px") {
			top:112px;
		}

	}
}

#js-map-wrapper{
	.hideonmobilex{
		li a{
			cursor:pointer;
		}
	}
}